<% include common/header.ejs %>


<div class="all-pizas">
    Усі піци
</div>

<nav style=" padding: 5px 0;">
    <div class="toggle"><i class="fas fa-bars menu"></i></div>
    <ul>
        <li id="all">Усі</li>
        <li id="meat">М'ясні</li>
        <li id="ananas">З ананасами</li>
        <li id="mushrooms">З грибами</li>
        <li id="seafood">З морепродуктами</li>
        <li id="vega">Вега</li>
    </ul>
</nav>

<div id="pizza_list" style="padding-left: 15%;">

</div>
</div>

<% include common/footer.ejs %>