<% include common/header.ejs %>



<div class="all-pizas">
    Оформлення замовлення
</div>
<div id="googleMap">

</div>




<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDH_tkB4xQDjMxj1hANfnFQLPWrnfDMnAU">
</script>
<script src="assets/js/map.js"></script>
<% include common/footer.ejs %>