<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 big-cont">
    <div style="height: 61px; background-color: white; padding-top: 6%; padding-left: 5px"><b>Замовлення</b>
        <span class="bl-orange-label">0</span>
        <div id="clear" style="text-align:right; padding-right: 5px; color: rgb(175, 175, 175);">Очистити
            замовлення
        </div>
    </div>
    <div id="cart">

    </div>
    <div style=" background-color: white; bottom: 0;padding-left: 5px">Сума замовлення
        <div class="sum">0 грн.</div>
        <a href="order.html"><button class="btn btn-primary" style="margin-bottom: 10px">Замовити</button></a>
    </div>
</div>
</div>
<img src="assets/images/flag2.png" style="position: fixed; z-index: 2; left: 10px; bottom: 0">
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>

</body>

</html>