<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8" />
    <title>Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>


    <div class="our-container" style="margin: 0; padding: 0">
        <!--<div class="fixed-badge">
      PIZZA
      <h3 style="margin: 0">KMA</h3>
    </div>-->

        <img src="assets/images/flag.png" style="position: fixed; z-index: 2; left: 10px">