<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8" />
    <title>Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>


    <div class="our-container" style="margin: 0; padding: 0">

        <a href="/"><img src="assets/images/flag.png" style="position: fixed; z-index: 2; left: 10px"></a>

        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div
                    style="padding-left: 120px; color: rgb(109, 109, 109); border-bottom: 1px gray solid; padding-right: 10px">
                    <span class="col-md-3">8 800 555 35 35</span>
                    <span class="col-md-3 c2">24 години 7 днів на тиждень</span>
                    <span class="col-md-3 c1">Безкоштовна доставка піци</span>
                    <button class="btn btn-primary" style=" display: inline">Ввійти</button>
                </div>

                <div class=" c3" style="padding-left: 120px;color:white ">
                    Піца
                </div>
            </nav>